<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!-- plugin.xml file written by dynaTrace Client 3.0.0 -->
<plugin>
  <extension point="com.dynatrace.diagnostics.pdk.pluginconfig" id="de.tsystems.mms.tic.apm.dynatrace.OraclePluginSystemInfo" name="OraclePluginSystemInfo">
    <information>
      <category value="" />
      <description value="Get health statistics from Oracle database" />
      <supportlevel value="unsupported" />
      <displayname value="OraclePluginSystemInfo" />
    </information>
    <configuration>
      <property key="oracleConType" label="oracleConType" type="list" description="Typ der Oracle Connection (SID oder servicename)" default="SID">
        <list>
          <item value="SID" />
          <item value="servicename" />
          <item value="securitystring" />
          <item value="completestring" />
        </list>
      </property>
      <property key="hostName" label="hostName" type="string" description="Hostname or IP-Adress" default="localhost" multiline="false" />
      <property key="dbName" label="dbName" type="string" description="Insert SID or Servicename of Oracle DB to be monitored" default="XE" multiline="false" />
      <property key="dbPort" label="dbPort" type="string" description="Port to connect to Oracle" default="1521" multiline="false" />
      <property key="dbUsername" label="dbUsername" type="string" description="User to connect to Oracle with permission to read (g)v$-tables" default="system" multiline="false" />
      <property key="dbPassword" label="dbPassword" type="password" description="Password to connect to Oracle" default="" />
      <property key="nodeId" label="nodeId" type="long" description="Node ID of RAC-Cluster (if no RAC choose 1)" default="1" />
      <property key="security" label="security" type="string" description="place the security Info here" default="" multiline="false" />
      <property key="completestring" label="completestring" type="string" description="My property description ..." default="" multiline="false" />
    </configuration>
  </extension>
  <extension point="com.dynatrace.diagnostics.pdk.monitor" id="de.tsystems.mms.tic.apm.dynatrace.OraclePluginSystemInfo.monitor" name="Oracle Monitor SystemInfo">
    <plugin configid="de.tsystems.mms.tic.apm.dynatrace.OraclePluginSystemInfo" class="com.dynatrace.diagnostics.plugins.OracleMonitor" />
  </extension>
  <extension point="com.dynatrace.diagnostics.pdk.monitormetricgroup" id="de.tsystems.mms.tic.apm.dynatrace.OraclePluginSystemInfo.metricgroup1" name="Oracle SGA">
    <metricgroup monitorid="de.tsystems.mms.tic.apm.dynatrace.OraclePluginSystemInfo.monitor">
      <metric name="Free Buffer Waits" unit="number" description="My metric description ..." />
      <metric name="Write Complete Waits" unit="number" description="My metric description ..." />
      <metric name="Buffer Busy Waits" unit="number" description="My metric description ..." />
      <metric name="DB Block Changes" unit="number" description="My metric description ..." />
      <metric name="DB Block Gets" unit="number" description="My metric description ..." />
      <metric name="Consistent Gets" unit="number" description="My metric description ..." />
      <metric name="Physical Reads" unit="number" description="My metric description ..." />
      <metric name="Physical Writes" unit="number" description="My metric description ..." />
      <metric name="Buffer Cache Hit Ratio" unit="percent" description="My metric description ..." />
      <metric name="Execution Without Parse Ratio" unit="percent" description="My metric description ..." />
      <metric name="Memory Sort Ratio" unit="percent" description="My metric description ..." />
      <metric name="SQL Area Get Ratio" unit="percent" description="My metric description ..." />
    </metricgroup>
  </extension>
  <extension point="com.dynatrace.diagnostics.pdk.monitormetricgroup" id="de.tsystems.mms.tic.apm.dynatrace.OraclePluginSystemInfo.metricgroup2" name="Oracle Sessions">
    <metricgroup monitorid="de.tsystems.mms.tic.apm.dynatrace.OraclePluginSystemInfo.monitor">
      <metric name="Maximum Concurrent User Sessions" unit="number" description="My metric description ..." />
      <metric name="Current Concurrent User Sessions" unit="number" description="My metric description ..." />
      <metric name="Highest Concurrent User Sessions" unit="number" description="My metric description ..." />
      <metric name="Maximum Named Users" unit="number" description="My metric description ..." />
    </metricgroup>
  </extension>
  <extension point="com.dynatrace.diagnostics.pdk.monitormetricgroup" id="de.tsystems.mms.tic.apm.dynatrace.OraclePluginSystemInfo.metricgroup3" name="Oracle System">
    <metricgroup monitorid="de.tsystems.mms.tic.apm.dynatrace.OraclePluginSystemInfo.monitor">
      <metric name="Connection Time" unit="ms" description="My metric description ..." />
      <!--   BEGIN EXTENSIONS  -->
      <metric name="Avg act sessions last min" unit="number" description="Average active sessions of last minute on selected node" />
      <metric name="Waits of class CPU in last min" unit="number" description="Part of CPU of average active session in last minute on selected node" />
      <metric name="Waits of class OTHER in last min" unit="number" description="Part of OTHER of average active session in last minute on selected node" />
      <metric name="Waits of class APPLICATION in last min" unit="number" description="Part of APPLICATION of average active session in last minute on selected node" />
      <metric name="Waits of class Configuration in last min" unit="number" description="Part of Configuration of average active session in last minute on selected node" />
      <metric name="Waits of class Administrative in last min" unit="number" description="Part of Administrative of average active session in last minute on selected node" />
      <metric name="Waits of class Concurrency in last min" unit="number" description="Part of Concurrency of average active session in last minute on selected node" />
      <metric name="Waits of class Commit in last min" unit="number" description="Part of Commit of average active session in last minute on selected node" />
      <metric name="Waits of class Network in last min" unit="number" description="Part of Network of average active session in last minute on selected node" />
      <metric name="Waits of class User I/O in last min" unit="number" description="Part of User I/O of average active session in last minute on selected node" />
      <metric name="Waits of class System I/O in last min" unit="number" description="Part of System I/O of average active session in last minute on selected node" />
      <metric name="Waits of class Scheduler in last min" unit="number" description="Part of Scheduler of average active session in last minute on selected node" />
      <metric name="Waits of class Cluster in last min" unit="number" description="Part of Cluster of average active session in last minute on selected node" />
      <metric name="Count of inactive Redolog Groups" unit="number" description="Count of inactive Redolog Groups at time of query" />
      <metric name="Storage Latency User I/O in ms" unit="number" description="Storage Latency of class User I/O in ms" />
      <metric name="Storage Latency System I/O in ms" unit="number" description="Storage Latency of class System I/O in ms" />
      <metric name="Storage Latency Commit I/O in ms" unit="number" description="Storage Latency of class Commit I/O in ms" />
      <metric name="Wait Count" unit="number" description="Number of wait events for given event" />
      <metric name="Sum Wait in ms" unit="ms" description="Total elapsed time for this wait event" />
      <!--   END EXTENSIONS  -->
      <metric defaultrate="purepath" name="Session Cached Cursor" unit="number" description="sessionCachedCursor" />
      <metric defaultrate="purepath" name="Open Cursor Current" unit="number" description="openCursorCurrent" />
      <metric defaultrate="purepath" name="Count of Locks" unit="number" description="Count of Locks" />
    </metricgroup>
  </extension>
</plugin>
